PORT=5000
NODE_ENV=development

# Database Configuration (Replace with your actual MongoDB Atlas String)
MONGO_URI=
# JWT Configurations
JWT_SECRET=
JWT_EXPIRES_IN=

# Local Redis Configuration (Matches your Docker container)
REDIS_HOST=
REDIS_PORT=


GITHUB_TOKEN=

AI_SERVICE_URL=

# 🛡️ Clerk Authentication Credentials
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=